<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
</head>
<body>
    <h1>Welcome to ..</h1>
    <img th:src="@{/images/TacoCloud.png}"/>
    <form method="POST" th:action="@{/logout}" id="logoutForm">
        <input type="submit",value="Logout"/>
    </form>
    <div style="border: 0px;text-align: center;">
        <a th:href="@{/design}" id="design" style="border: 0px; text-decoration: none; font-size: 50px; color: skyblue;" >Design your own taco!</a>
    </div>
</body>
</html>